* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

// Variables //
$font-color-white: #FFF;
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$font-family-madimi: "Madimi One, sans-serif";
$font-family-arvo: "Arvo", serif;
$base-font-size: 1rem; 
$heading-font-size: 3.125rem; 
$kontakt-font-size: 1.875rem; 

// Mixin //
@mixin text-style($font-size, $font-weight: 400) {
  color: $font-color-white;
  text-align: center;
  text-shadow: $text-shadow;
  font-size: $font-size;
  font-weight: $font-weight;
  font-style: normal;
  line-height: normal;
}

body {
  font-size: $base-font-size;
}

  // Container //

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
  "h1"
 "indhold";
  background-image: url(alvan-nee-T-0EW-SEbsE-unsplash.jpg);
  background-size: cover;
  position: relative; 
  width: 1440px;
  height: 900px;
  
  // Overskrift //

  h1 {
    grid-area: h1;
    z-index: 1;
    margin-top: 2%;
    margin-left: 2%;
  }

  // Section //
  .main_info {
    position: relative;
    width: 100%;
    color: $font-color-white; 
    
    .nav {
      position: absolute;
      bottom: 50%; 
      width: 100%;
      z-index: 2;
      display: flex;
      justify-content: center;
    
      ul {
        list-style: none;
        display: flex; 
        padding: 0; 
    
        li {
          margin: 0 20px;
    
          a.nav_text {
            text-decoration: none; 
            color: $font-color-white; 
            font-family: $font-family-madimi;
            font-weight: 700; 
            font-size: $heading-font-size;
            text-shadow: $text-shadow;
          }
        } 
      }
    }
      .footer_text {
        margin-top: 10%;
        margin-left: 30%;
        position: absolute;
        z-index: 3;
        font-family: $font-family-arvo;
        @include text-style($kontakt-font-size);
      }

        .orange_form {
          width: 1440px;
          height: auto;
        }
    }
  }

                                      // Underside 1 og 2 //

// Variables //
$background-color: #FFCC19;
$text-color: #000;
$text-color-white: #FFF;
$box_color: #FFF;
$font-family-madimi: "Madimi One, sans-serif";
$font-family-arvo:"Arvo", serif;;
$font-size: 1.875rem;
$font-weight-bold: 700;
$font-weight-normal: 400;
$line-height: 2.1875rem;
$border-radius: 3rem;
$info-width: 32.6875rem;
$info-height-s: 16rem; 
$info-height-l: 27rem; 

// Mixins //
@mixin text-style($weight: $font-weight-normal) {
  color: $text-color;
  font-size: $font-size;
  font-style: normal;
  font-weight: $weight;
  line-height: $line-height;
}

// Style //
.baggrund_farve {
  background-color: $background-color;
}

header, 
.top_sektion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative; 
  padding: 2%;
}

.img_hund {
  margin-left: 5%;
}

.h1_traning {
  margin-right: 6%;
  margin-top: 10%;
}

.h1_pleje {
  margin-right: 13.5%;
  margin-top: 10%;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}

.info_text, 
.info_text_k {
  @include text-style;
  border-radius: $border-radius;
  background-color: $box_color;
  flex-shrink: 0;
  padding: 5%;
  margin-left: 10%;
  margin-bottom: 10%;

  &.info_text {
    width: $info-width;
    height: $info-height-s;
  }

  &.info_text_k {
    width: $info-width;
    height: $info-height-l;
  }
}

.h2_traning {
  @include text-style($font-weight-bold);
  font-family: $font-family-arvo;
}

.p_traning {
  @include text-style;
  font-family: $font-family-arvo;
}

.footer_text_2 {
  color: $text-color-white;
  text-align: center;
  font-family: $font-family-arvo;
  font-size: $font-size;
  font-weight: $font-weight-normal;
  line-height: normal;
  margin-bottom: 2%;
}

// Ipad //
@media screen and (max-width: 820px) { 

  // Variables //

  .container {
  background-image: url(alvan-nee-T-0EW-SEbsE-unsplash.jpg);
  width: 100vw;
  height: 100vh;
  align-items: center
  }

  .container .main_info .orange_form {
    width: 820px;
    height: auto;
}

.container .main_info .nav ul li a.nav_text {
  font-size: 2.125rem;
}

.container .main_info .footer_text {
  margin-top: 10%;
  margin-left: 18%;
}

    // træning og pleje //

    header, .top_sektion {
      align-items: center;
      flex-direction: column;
  }

  .img_hund {
    margin-left: 0%;
}

.h1_traning {
  margin-right: 0%;
  margin-top: 3%;
}

.h1_pleje {
  margin-right: 0%;
  margin-top: 3%;
}

.info_container {
  grid-template-columns: repeat(2, 1fr);
  gap: 0%;
  justify-items: center;
}

.h2_traning, .p_traning, .footer_text_2 {
  font-size: 1.4rem;
}

.info_text.info_text, .info_text_k.info_text {
  width: 22.6875rem;
  height: 15rem;
  padding: 4%;
}

.info_text.info_text_k, .info_text_k.info_text_k {
  width: 22.6875rem;
  height: 28rem;
  padding: 4%;
}

.info_text, .info_text_k {
  font-size: $base-font-size;
  background-color: white;
  flex-shrink: 0;
  padding: 2%;
  margin-left: 0%;
  margin-bottom: 2%;
  line-height: $line-height;
}

}

// Mobil //
@media screen and (max-width: 414px) { 

  .container {
    display: grid;
    background-size: contain;
}

.container .main_info .nav {
  bottom: 300%;
}

.container .main_info .nav ul {
  flex-direction: column;
  align-items: center;
}

  header, .top_sektion {
    justify-content: center;
}

.container .main_info .nav ul li {
  padding: 10%;
}

img {
width: 100%;
}

  .container .main_info .orange_form {
    width: 414px;
    height: auto;
}

.container .main_info .nav ul li a.nav_text {
  font-size: 2.425rem;
}

.container .main_info .footer_text {
  margin-top: 6%;
  margin-left: 8%;
  font-size: 1.3rem;
  position: absolute;
}

figure {
  display: flex;
}

    // træning og pleje //

    header, .top_sektion {
      align-items: center;
      flex-direction: column;
  }

  .img_hund {
    margin-left: 0%;
}

.h1_traning {
  margin-right: 0%;
  margin-top: 3%;
}

.h1_pleje {
  margin-right: 0%;
  margin-top: 3%;
}

.info_container {
  grid-template-columns: 1fr;
  gap: 0%;
  justify-items: center;
}

.container .main_info .footer_text {
  margin-top: 3%;
  margin-left: 4%;
  font-size: 1.2rem;
}

}
