* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: "h1" "indhold";
  background-image: url(alvan-nee-T-0EW-SEbsE-unsplash.jpg);
  background-size: cover;
  position: relative;
  width: 1440px;
  height: 900px;
}
.container h1 {
  grid-area: h1;
  z-index: 1;
  margin-top: 2%;
  margin-left: 2%;
}
.container .main_info {
  position: relative;
  width: 100%;
  color: #FFF;
}
.container .main_info .nav {
  position: absolute;
  bottom: 50%;
  width: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
}
.container .main_info .nav ul {
  list-style: none;
  display: flex;
  padding: 0;
}
.container .main_info .nav ul li {
  margin: 0 20px;
}
.container .main_info .nav ul li a.nav_text {
  text-decoration: none;
  color: #FFF;
  font-family: "Madimi One, sans-serif";
  font-weight: 700;
  font-size: 3.125rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container .main_info .footer_text {
  margin-top: 10%;
  margin-left: 30%;
  position: absolute;
  z-index: 3;
  font-family: "Arvo", serif;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.875rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
}
.container .main_info .orange_form {
  width: 1440px;
  height: auto;
}

.baggrund_farve {
  background-color: #FFCC19;
}

header,
.top_sektion {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 2%;
}

.img_hund {
  margin-left: 5%;
}

.h1_traning {
  margin-right: 6%;
  margin-top: 10%;
}

.h1_pleje {
  margin-right: 13.5%;
  margin-top: 10%;
}

.info_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2%;
}

.info_text,
.info_text_k {
  color: #000;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
  border-radius: 3rem;
  background-color: #FFF;
  flex-shrink: 0;
  padding: 5%;
  margin-left: 10%;
  margin-bottom: 10%;
}
.info_text.info_text,
.info_text_k.info_text {
  width: 32.6875rem;
  height: 16rem;
}
.info_text.info_text_k,
.info_text_k.info_text_k {
  width: 32.6875rem;
  height: 27rem;
}

.h2_traning {
  color: #000;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.1875rem;
  font-family: "Arvo", serif;
}

.p_traning {
  color: #000;
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1875rem;
  font-family: "Arvo", serif;
}

.footer_text_2 {
  color: #FFF;
  text-align: center;
  font-family: "Arvo", serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 2%;
}

@media screen and (max-width: 820px) {
  .container {
    background-image: url(alvan-nee-T-0EW-SEbsE-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    align-items: center;
  }
  .container .main_info .orange_form {
    width: 820px;
    height: auto;
  }
  .container .main_info .nav ul li a.nav_text {
    font-size: 2.125rem;
  }
  .container .main_info .footer_text {
    margin-top: 10%;
    margin-left: 18%;
  }
  header, .top_sektion {
    align-items: center;
    flex-direction: column;
  }
  .img_hund {
    margin-left: 0%;
  }
  .h1_traning {
    margin-right: 0%;
    margin-top: 3%;
  }
  .h1_pleje {
    margin-right: 0%;
    margin-top: 3%;
  }
  .info_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0%;
    justify-items: center;
  }
  .h2_traning, .p_traning, .footer_text_2 {
    font-size: 1.4rem;
  }
  .info_text.info_text, .info_text_k.info_text {
    width: 22.6875rem;
    height: 15rem;
    padding: 4%;
  }
  .info_text.info_text_k, .info_text_k.info_text_k {
    width: 22.6875rem;
    height: 28rem;
    padding: 4%;
  }
  .info_text, .info_text_k {
    font-size: 1rem;
    background-color: white;
    flex-shrink: 0;
    padding: 2%;
    margin-left: 0%;
    margin-bottom: 2%;
    line-height: 2.1875rem;
  }
}
@media screen and (max-width: 414px) {
  .container {
    display: grid;
    background-size: contain;
  }
  .container .main_info .nav {
    bottom: 300%;
  }
  .container .main_info .nav ul {
    flex-direction: column;
    align-items: center;
  }
  header, .top_sektion {
    justify-content: center;
  }
  .container .main_info .nav ul li {
    padding: 10%;
  }
  img {
    width: 100%;
  }
  .container .main_info .orange_form {
    width: 414px;
    height: auto;
  }
  .container .main_info .nav ul li a.nav_text {
    font-size: 2.425rem;
  }
  .container .main_info .footer_text {
    margin-top: 6%;
    margin-left: 8%;
    font-size: 1.3rem;
    position: absolute;
  }
  figure {
    display: flex;
  }
  header, .top_sektion {
    align-items: center;
    flex-direction: column;
  }
  .img_hund {
    margin-left: 0%;
  }
  .h1_traning {
    margin-right: 0%;
    margin-top: 3%;
  }
  .h1_pleje {
    margin-right: 0%;
    margin-top: 3%;
  }
  .info_container {
    grid-template-columns: 1fr;
    gap: 0%;
    justify-items: center;
  }
  .container .main_info .footer_text {
    margin-top: 3%;
    margin-left: 4%;
    font-size: 1.2rem;
  }
}

/*# sourceMappingURL=style.css.map */
